.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 400px;
  height: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form .form-group {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  height: 150px;
  resize: none;
}

.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  color: #999;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.home-button:hover {
  background-color: #ff6347;
}

.form-group input,
.form-group textarea {
  padding-left: 25px;
}

.form-group input:focus + label,
.form-group textarea:focus + label {
  top: -12px;
  left: 10px;
  background-color: #f9f9f9;
  padding: 0 5px;
  color: #666;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.email {
  margin-bottom: auto;
}
