* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #ee13e3d4;
    background-color: #ffffff;
    border-width: 1mm;
}

thead {
    background-color: #0070d2;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

strong {
    color: #1682e1c1;
}

.menu {
    color: #fff;
    font-family: Poppins, sans-serif;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
  }
