footer {
  background-color: #333;
  color: #fff;
  padding: 100px;
  text-align: center; 
}
header {
  background-color: #333;
  color: #fff;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.myhomename {
  color: #fff;
  font-size: 20px;
  font-family: Poppins, sans-serif;
}

.menu {
  color: #fff;
  font-family: Poppins, sans-serif;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin-right: 30px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.initial-heading {
  font-family: Poppins, sans-serif;
  color: #696a5f;
  font-size: 45px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  margin-bottom: 1%;
}

.hpresentation {
  display: grid;
  font-family: 'Gill Sans' serif;
  color: #696a5f;
  font-size: 22px; /* Adjust the font size for the text */
  font-weight: 500;
  align-items: center;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: beige;
 
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  text-align: center;
  height: 100vh; /* Set height to 100% of the viewport height */
}

.middle{
  background-image: url('SFwelcome.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.container{
  display: grid;
  grid-template-columns: 37% 40% 20%; /* First column: 40%, Second column: 60% */
  gap: 20px;
  height: 100vh;
}
.ranger{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
}

.Welcome{
  display: flex;
  flex-direction: column;
  align-items: center; 
}