footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  color: #fff;
  font-family: Poppins, sans-serif;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #f1eeee;
  margin-bottom: 20px;
  background-image: url(Skills.jpg) ;
}

.content {
  text-align: center;
  margin-bottom: 50px;
 
}

.buttons {
  display: flex;
  justify-content: center;

}

button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #322d28;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2196f3;

}

.rectangle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}


.rectangle:last-child {
  margin-right: 0;
}

.container {
  align-items: center;
  margin-left: 20px; 
}

.view-button {
  margin-left: 10px; /* Adjust the margin as per your preference */
}

#image {
  max-width: 100%;
  max-height: 100%;
}

.degree {
  font-weight: bold;
  display: block;
}
.year{
  display: block;
}
.school{
  display: block;
}

.continuousE{
  font-weight: bold;
  display: block;
  color: rgb(8, 7, 8);
}
h2{
  font-weight: bold;
  font-size: 50px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  margin: 20px 0;
}

.square {
  width: 300px;
  height: 300px;
  background-color: #1c1d1d;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.square:hover {
  background-color: #c8d3da;
}

#skillstable{
  margin-top: auto;
  margin-bottom: auto ;
}

.rectangle {
  width: 1000px;
  height: 500px;
  background-color: #deedf3d4;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 0;
  overflow: auto;
  border: 4px solid #1a1919 ;
}
.project{
  margin-left: 2cm;
  margin-right: 2cm;
}
#rectangle1{
  overflow: auto;
  margin-top: 40px;
  background-color: #eb5bf53b;
  border-color: #ee13e3d4;
  
}
#rectangle2 {
  overflow: auto;
  background-color: #f6f33413;
  display: flex;
  border-color: #d7ab0bd4;
}

#rectangle3{
  overflow: auto;
  margin-top: 0;
  background-color: #3aee0d3b;
  border-color: #3aee0dd4;
}

#rectangle4{
  overflow: auto;
  margin-top: 0;
  background-color: #60ccf325;
  text-align: center;
  border-color: #58aaf252;
  
}
.Certification{
  font-weight: bold;
  display: block;
}
#square1{
  background-image: url('Adminic.png');
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square2{
  align-items: center;
  background-image: url(AdminAdvancedic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square3{
  align-items: center;
  background-image: url(dev1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square4{
  align-items: center;
  background-image: url(businessAnalystic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

#square5{
  align-items: center;
  background-image: url(AppBuilderic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square6{
  align-items: center;
  background-image: url(ranger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square7{
  align-items: center;
  color: brown;
  background-image: url(MCSA.png);
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square8{
  align-items: center;
  color: brown;
  background-image: url(MCSE.png);
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
#square9{
  align-items: center;
  color: brown;
  background-image: url(blog.jpeg);
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a7d6e3d4;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-align: center;
}
.EduCert{
  border-color: #ee13e3d4;
  background-color: #ee13e3d4;
  border-width: 1mm;
}
.ExpDet{
  background-color: #d7ab0bd4;
 
  
}
.SFSkills{
  background-color:#3aee0dd4;
}
.Skills{
  background-color: #0fb5e3d4;
}